@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");

.title-container {
  position: relative;
}

.title-high {
  position: absolute;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 100px;
  top: -6rem;
  right: 50%;
  user-select: none;
}

.title-and {
  position: absolute;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 100px;
  user-select: none;
}

.title-low {
  position: absolute;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 100px;
  user-select: none;
  top: 6rem;
  left: 50%;
}

@media screen and (max-width: 570px) {
  .title-high {
    position: absolute;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    top: -4rem;
    right: 50%;
    user-select: none;
  }

  .title-and {
    position: absolute;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    user-select: none;
  }

  .title-low {
    position: absolute;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    user-select: none;
    top: 4rem;
    left: 50%;
  }
}

.start-button {
  margin-top: 300px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.title-container {
  display: flex;
  justify-content: center;
}

.BGMbutton {
  position: absolute;
  top: 5%;
  right: 5%;
}
